body{
	margin:0;
	height:100%;
	width:100%;
	position:absolute;
}
#map{
	position: absolute;
	top:0;
	left: 0;
	right:0;
	bottom:0;
}
.header{
	position: absolute;
	top:45px;
	width:100%;
	height:40px;
	background-color:#FAFBFB;
	border:1px solid #ddd;
}
.menu{
	width:33%;
	height:40px;
	line-height: 40px;
	text-align: center;
	float: left;
	box-sizing: border-box;
	font-size: 0.9375rem;
	cursor: pointer;
}

.header_menu{
	position: absolute;
	left: 100px;
	right: 0;
	height:40px;
}


.header_logo{
	width:100px;
	/*border-right: 1px dashed #ddd;*/
}

.header_logo img{
	margin-top:5px;
}

.logo{
	width:60px;
	margin-top:6px;
	text-align:center;
	line-height:12px;
}

.fl{
	float: left;
}

.fr{
	float: right;
}
.logo_title{
	font-size:12px;
	font-weight: bold;
}

.logo_url{
	font-size:12px;
	color:#4E4D4C;
}

.active{
	color: #55A9FD;
}

.search{
	width:100%;
	padding-top:5px;
	height:45px;
	position: absolute;
	top:0px;
	background-color: #FAFBFB;
	border-bottom: 1px solid #ccc;
}

.search input{
	height:30px;
	outline: none;
	border:1px solid #ddd;
	padding-left:5px;
	margin-top:3px;
	width: 100%;
	font-size:16px;
	-webkit-tap-highlight-color: #FFFFFF;
	-webkit-appearance: none;
	-moz-appearance: none;
  	appearance: none;
  	color: #A9A9A9;
}

.search_btn{
	width: 52px;
	height:35px;
	margin-top:3px;
	text-align:center;
	line-height:35px;
	color:#fff;
	background-color:#0091FF;
	cursor: pointer;
}

.input_div{
	position: absolute;
	left: 100px;
	right:10px;
}

.toolbar{
	position:absolute;
	right:10px;
	width:60px;
	height:140px;
	top: 70px;
	cursor: pointer;
}

.car_run{
	width:50px;
	height:50px;
	background-color:#0091FF;
	color:#FFF;
	text-align:center;
	line-height:50px;
	border-radius:25px;
	margin-top:10px;
	margin-left:5px;
}

@-webkit-keyframes flash {
	0%    { opacity:0; }
	50%   { opacity:1; }
	100%  { opacity:0; }
}
.firebug_flash{
	-webkit-animation-name: flash;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:1s;
	background-color:#F7001D;
}

.charts_pannel{
	position:absolute;
	background-color:#fff;
	left:10px;
	top:70px;
	opacity: 0.9;
	min-height:330px;
	width:190px;
	border:1px solid #ddd;
}
.charts_div{
	width:190px;
	height:190px;
}

.charts_info{
	color:#000;
	margin-top:-22px;
	margin-left:5px;
	font-size:13px;
	line-height:17px;
}

.charts_info span{
	color: #0091FF;
}

#charts_info_address{
	font-size:14px;
}

.timeline_pannel{
	position:absolute;
	top:70px;
	left:230px;
	right:80px;
	height:50px;
	background-color:#FFF;
	padding: 3px;
	border:1px solid #ddd;
	opacity: 0.8;
	visibility: hidden;
}

.timeline{
	width:100%;
	height:3px;
	margin-top:22px;
	background-color:#E82D00;
}

.timeline_item{
	font-size:13px;
	float:left;
	margin-top:-15px;
	margin-left:15px;
	width:50px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#fff;
	background-color:#0091FF;
}

.tempe{
	margin-top:5px;
	width:30%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:18px;
}

.search_list{
	position:absolute;
	top:41px;
	left:100px;
	right:52px;
	height:90px;
	border:1px solid #ddd;
	background-color: #FFF;
	z-index:10050;
	display: none;
}

.search_list>a:nth-child(1){
	margin-top:5px;
}
.search_list>a{
	display: block;
	color:#9E9E9E;
	font-size:16px;
	height:24px;
	line-height:24px;
	padding-left:5px;
	cursor:pointer;
}

.search_list>a:hover{
	background-color: #ddd;
}


.add_mask{
	position:absolute;
	left:0;right:0;top:0;bottom:0;
	background-color:#4E4D4C;
	opacity: 0.5;
	display: none;
}

/*万能iframe*/
.iframe_all{
	position:absolute;
	width:350px;
	min-height:160px;
	background-color:#F9F9F9;
	border:1px solid #ddd;
	top:-999px;
}

.iframe_all_arrow{
	background-color: transparent;
	position:absolute;
	right: -15px;
	top:85px;
	width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 15px solid #F9F9F9;
    border-bottom: 7px solid transparent;
}






